.notification-tab {
	background: white;
	position: fixed;
	right: 0;
	top: 5%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	height: 90px;
	padding: 7.5px;
	box-shadow: -2px 0px 5px black;
	z-index: 99;
}